<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - new user</title>
</head>
<body>
    <h1>Create new user</h1>
    <form action="#" th:action="@{/registration/}" th:object="${userForm}" th:method="post">
        <p>Enter name: <input type="text" th:field="*{username}"/></p>
        <p>Enter password: <input type="text" th:field="*{password}"/></p>
        <p>Enter age: <input type="text" th:field="*{age}"/></p>

        <label th:for="roleUser">Присвоить права "ROLE_USER"
        <input type="checkbox" name="roleUser" th:checked="${roleUser}"/>
        </label>
        </br>
        <label th:for="roleAdmin">Присвоить права "ROLE_ADMIN"
            <input type="checkbox" name="roleAdmin" th:checked="${roleAdmin}"/>
        </label>

        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>